In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline

In [45]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

/usr/local/Cellar/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
test.head(2)

,set,region,company_type,company_name,ogrn,inn,incorporation_year,okved_osn_code,okved_osn_name,init_equities,...,kladr,kpp,type_nasel_punkt,name_nasel_punkt,index,street,house,building,apartment,risk_category
0,test,adygea,юридическое лицо,"муниципальное предприятие ""жилищно-коммунально...",1070107001800,107013764,2007.0,35.30.14,производство пара и горячей воды (тепловой эне...,250000.0,...,1.006000e+13,10701001.0,поселок городского типа,тлюстенхабль,385228.0,улица кубанская,10,NaN,NaN,NaN
1,test,adygea,юридическое лицо,"публичное акционерное общество ""майкопский ста...",1020100698144,105005101,1999.0,28.41,производство металлообрабатывающего оборудования,NaN,...,1.000001e+13,10501001.0,город,майкоп,385000.0,улица некрасова,293,NaN,NaN,NaN

In [47]:
test.columns

Index(['set', 'region', 'company_type', 'company_name', 'ogrn', 'inn',
       'incorporation_year', 'okved_osn_code', 'okved_osn_name',
       'init_equities', 'init_equity_types', 'purpose',
       'other_reasons_for_check', 'check_date', 'day_length', 'hour_length',
       'type', 'agency', 'joint_agency', 'oktmo', 'okato', 'kladr', 'kpp',
       'type_nasel_punkt', 'name_nasel_punkt', 'index', 'street', 'house',
       'building', 'apartment', 'risk_category'],
      dtype='object')

In [48]:
train.columns

Index(['set', 'region', 'company_type', 'company_name', 'ogrn', 'inn',
       'incorporation_year', 'okved_osn_code', 'okved_osn_name',
       'init_equities', 'init_equity_types', 'purpose',
       'other_reasons_for_check', 'check_date', 'day_length', 'hour_length',
       'type', 'agency', 'joint_agency', 'oktmo', 'okato', 'kladr', 'kpp',
       'type_nasel_punkt', 'name_nasel_punkt', 'index', 'street', 'house',
       'building', 'apartment', 'risk_category'],
      dtype='object')

In [49]:
columns_to_drop = ['set', 'day_length', 'hour_length', 'agency', 'joint_agency', 'okved_osn_name',
                    'house', 'street', 'building', 'apartment', 'ogrn', 'oktmo', 'okato', 'kladr']

In [50]:
test = test.drop(columns=columns_to_drop)
train = train.drop(columns=columns_to_drop)

In [53]:
test['okved_osn_code'][~test['okved_osn_code'].isnull()] = test['okved_osn_code'][~test['okved_osn_code'].isnull()].apply(lambda x: x.split('.')[0])

/usr/local/Cellar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
train['okved_osn_code'][~train['okved_osn_code'].isnull()] = train['okved_osn_code'][~train['okved_osn_code'].isnull()].apply(lambda x: x.split('.')[0])

/usr/local/Cellar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
train['okved_osn_code'].value_counts(dropna=False)

85     30815
86      8917
68      4419
47      2498
01      1506
35      1385
46      1245
91      1234
87      1127
10      1009
84       878
55       750
56       745
36       703
NaN      672
93       559
49       538
52       523
25       463
88       444
23       420
94       407
41       367
08       350
64       339
72       290
90       285
20       263
33       259
80       251
       ...
29        95
13        92
63        77
19        76
58        73
69        70
37        67
09        65
70        58
17        51
21        48
15        44
78        42
65        38
79        37
50        36
62        29
03        26
60        20
51        19
05        16
74        16
92        12
77         9
12         8
73         7
95         7
66         6
40         4
97         1
Name: okved_osn_code, Length: 87, dtype: int64

In [60]:
test.to_csv('test.csv', index=False)

In [61]:
train.to_csv('train.csv', index=False)